![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [8]:
# Re-run this cell 
import pandas as pd
import numpy as np

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [9]:
# Re-run this cell 
import pandas as pd
import numpy as np

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# 1.Finding schools with the best math scores
best_math_schools = schools[schools["average_math"] >= (0.80 * 800)].sort_values("average_math", ascending=False)
print(best_math_schools)

# 2. Identifying the top 10 performing schools
best_math_schools["total_SAT"] = best_math_schools["average_math"] + best_math_schools["average_reading"] + best_math_schools["percent_tested"] 
best_math_schools = best_math_schools.sort_values("total_SAT",ascending=False)
top_10_schools = best_math_schools.head(10)
print(top_10_schools)

#top_10_schools = best_math_schools.head(10)
#top_10_schools["total_SAT"] = top_10_schools.sort_values("total_SAT",ascending=False)
#print(top_10_schools)

#best_math_schools = pd.DataFrame(top_10_schools)
#top_10_schools["total_SAT"] = top_10_schools["school_name"].sort_values("total_SAT", ascending=False)
#print(top_10_schools)

# 3.Locating the NYC borough with the largest standard deviation in SAT performance
number_schools = schools.groupby("borough").agg([np.min, np.max, np.median]).round(2)
print(number_schools)

                                           school_name  ... percent_tested
88                              Stuyvesant High School  ...           97.4
170                       Bronx High School of Science  ...           97.0
93                 Staten Island Technical High School  ...           99.7
365  Queens High School for the Sciences at York Co...  ...           97.9
68   High School for Mathematics, Science, and Engi...  ...           92.6
280                     Brooklyn Technical High School  ...           95.5
333                        Townsend Harris High School  ...           97.1
174  High School of American Studies at Lehman College  ...           91.8
0    New Explorations into Science, Technology and ...  ...            NaN
45                       Eleanor Roosevelt High School  ...           86.0

[10 rows x 7 columns]
                                           school_name  ... total_SAT
88                              Stuyvesant High School  ...    1548.4
170                       Bronx High School of Science  ...    1471.0
93                 Staten Island Technical High School  ...    1470.7
174  High School of American Studies at Lehman College  ...    1432.8
365  Queens High School for the Sciences at York Co...  ...    1419.9
333                        Townsend Harris High School  ...    1417.1
68   High School for Mathematics, Science, and Engi...  ...    1385.6
280                     Brooklyn Technical High School  ...    1385.5
45                       Eleanor Roosevelt High School  ...    1344.0
0    New Explorations into Science, Technology and ...  ...       NaN

[10 rows x 8 columns]
              average_math              ... percent_tested
                      amin amax median  ...           amin   amax median
borough                                 ...
Bronx                  317  714  395.5  ...           19.2   97.0   57.9
Brooklyn               319  682  395.0  ...           18.5   98.1   61.7
Manhattan              344  754  433.0  ...           30.6  100.0   72.0
Queens                 340  701  448.0  ...           26.3   99.2   72.3
Staten Island          420  711  465.5  ...           38.0   99.7   64.2

[5 rows x 12 columns]

In [10]:
# Re-run this cell 
import pandas as pd
import numpy as np

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()  

# 1.Finding schools with the best math scores - The best math results are at least 80% of the *maximum possible score of 800* for math.

#  Define el umbral de matemática
math_threshold = 0.80 * 800

# Define el patrón de búsqueda para los nombres de las escuelas
school_name_pattern = "school_name"

# Filtrar las escuelas con promedio de matemáticas mayor o igual al umbral y nombre de escuela que contenga el patrón
try:
    filtered_schools = schools[(schools["average_math"] >= math_threshold) & (schools["school_name"].str.contains(school_name_pattern, na=False))]
    
    the_best_math_results = filtered_schools[["school_name", "average_math"]]
    
    if list(the_best_math_results.columns) == ["school_name", "average_math"]:
        print(the_best_math_results)
    else:
        raise ValueError("El DataFrame resultante no tiene las columnas esperadas.")
    
# Imprimir los resultados
    print(the_best_math_results)
except KeyError as e:
    print(f"Error: La columna especificada no se encuentra en el DataFrame: {e}")
except Exception as e:
    print(f"Ocurrió un error: {e}")

#the_best_math_results = schools[(schools["average_math"]>= (0.80 * 800)) & (schools["school_name"].str.contains("school_name"))]
#best_math_schools = the_best_math_results.sort_values(["school_name" , "average_math"], ascending=False)
                
#print(best_math_schools)

# 2. Identifying the top 10 performing schools
top_10_schools = best_math_schools.head(10)
top_10_schools["total_SAT"] = top_10_schools["average_math"] + top_10_schools["average_reading"] + top_10_schools["percent_tested"]
top_10_schools= top_10_schools.sort_values("total_SAT",ascending=False)

# 3.Locating the NYC borough with the largest standard deviation in SAT performance

# 3.1 Grouping the data by borough
number_schools = schools.groupby("borough").agg([np.min, np.max, np.median]).round(2)

# 3.2 Filtering for the largest standard deviation
boroughs_std = schools.groupby("borough").std().reset_index()
print(boroughs_std)

max_std = boroughs_std["borough"].max()
large_std_dev = boroughs_std[boroughs_std["borough"] == max_std]
print(large_std_dev)

# 3.3 Renaming columns
schools.rename = schools.rename(columns={"school_name" : "num_schools", "total_SAT" : "average_SAT", "large_std_dev" : "std_SAT"})


#large_std_dev = pd.DataFrame(large_std_dev)[large_std_dev[boroughs].np.std == np.max]
#print(large_std_dev)

Empty DataFrame
Columns: [school_name, average_math]
Index: []
Empty DataFrame
Columns: [school_name, average_math]
Index: []
         borough  average_math  ...  average_writing  percent_tested
0          Bronx     52.215898  ...        51.304298       18.960936
1       Brooklyn     60.481420  ...        49.657072       16.659925
2      Manhattan     83.818315  ...        76.387707       17.936821
3         Queens     71.890229  ...        66.233383       19.408607
4  Staten Island     83.132825  ...        72.671330       19.270083

[5 rows x 5 columns]
         borough  average_math  ...  average_writing  percent_tested
4  Staten Island     83.132825  ...         72.67133       19.270083

[1 rows x 5 columns]