# Slicing and Indexing DataFrames

## Explicit indexes

## Setting and removing indexes

**Exercise**

_Setting and removing indexes_

pandas allows you to designate columns as an index. This enables cleaner code when taking subsets (as well as providing more efficient lookup under some circumstances).

In this chapter, you'll be exploring temperatures, a DataFrame of average temperatures in cities around the world. pandas is loaded as pd.

**Instructions**

- Look at temperatures.
- Set the index of temperatures to "city", assigning to temperatures_ind.
- Look at temperatures_ind. How is it different from temperatures?
- Reset the index of temperatures_ind, keeping its contents.
- Reset the index of temperatures_ind, dropping its contents.

#Look at temperatures
print(temperatures)

<script.py> output:

                date     city        country  avg_temp_c
    0     2000-01-01  Abidjan  Côte D'Ivoire      27.293
    1     2000-02-01  Abidjan  Côte D'Ivoire      27.685
    2     2000-03-01  Abidjan  Côte D'Ivoire      29.061
    3     2000-04-01  Abidjan  Côte D'Ivoire      28.162
    4     2000-05-01  Abidjan  Côte D'Ivoire      27.547
    ...          ...      ...            ...         ...
    16495 2013-05-01     Xian          China      18.979
    16496 2013-06-01     Xian          China      23.522
    16497 2013-07-01     Xian          China      25.251
    16498 2013-08-01     Xian          China      24.528
    16499 2013-09-01     Xian          China         NaN
    
    [16500 rows x 4 columns]

#Set the index of temperatures to city
temperatures_ind = temperatures.set_index("city")

#Look at temperatures_ind
print(temperatures_ind)

<script.py> output:

               date        country  avg_temp_c
    city                                         
    Abidjan 2000-01-01  Côte D'Ivoire      27.293
    Abidjan 2000-02-01  Côte D'Ivoire      27.685
    Abidjan 2000-03-01  Côte D'Ivoire      29.061
    Abidjan 2000-04-01  Côte D'Ivoire      28.162
    Abidjan 2000-05-01  Côte D'Ivoire      27.547
    ...            ...            ...         ...
    Xian    2013-05-01          China      18.979
    Xian    2013-06-01          China      23.522
    Xian    2013-07-01          China      25.251
    Xian    2013-08-01          China      24.528
    Xian    2013-09-01          China         NaN
    
    [16500 rows x 3 columns]

#Reset the temperatures_ind index, keeping its contents
print(temperatures_ind.reset_index())

<script.py> output:

             city       date        country  avg_temp_c
    0      Abidjan 2000-01-01  Côte D'Ivoire      27.293
    1      Abidjan 2000-02-01  Côte D'Ivoire      27.685
    2      Abidjan 2000-03-01  Côte D'Ivoire      29.061
    3      Abidjan 2000-04-01  Côte D'Ivoire      28.162
    4      Abidjan 2000-05-01  Côte D'Ivoire      27.547
    ...        ...        ...            ...         ...
    16495     Xian 2013-05-01          China      18.979
    16496     Xian 2013-06-01          China      23.522
    16497     Xian 2013-07-01          China      25.251
    16498     Xian 2013-08-01          China      24.528
    16499     Xian 2013-09-01          China         NaN
    
    [16500 rows x 4 columns]

#Reset the temperatures_ind index, dropping its contents
print(temperatures_ind.reset_index(drop=True))

<script.py> output:

              date        country  avg_temp_c
    0     2000-01-01  Côte D'Ivoire      27.293
    1     2000-02-01  Côte D'Ivoire      27.685
    2     2000-03-01  Côte D'Ivoire      29.061
    3     2000-04-01  Côte D'Ivoire      28.162
    4     2000-05-01  Côte D'Ivoire      27.547
    ...          ...            ...         ...
    16495 2013-05-01          China      18.979
    16496 2013-06-01          China      23.522
    16497 2013-07-01          China      25.251
    16498 2013-08-01          China      24.528
    16499 2013-09-01          China         NaN
    
    [16500 rows x 3 columns]

Incredible indexing! 
Setting an index allows more concise code for subsetting for rows of a categorical variable via .loc[].

# Subsetting with .loc[]

**Exercise**

_Subsetting with .loc[]_

The killer feature for indexes is .loc[]: a subsetting method that accepts index values. When you pass it a single argument, it will take a subset of rows.

The code for subsetting using .loc[] can be easier to read than standard square bracket subsetting, which can make your code less burdensome to maintain.

pandas is loaded as pd. temperatures and temperatures_ind are available; the latter is indexed by city.

**Instructions**

- Create a list called cities that contains "Moscow" and "Saint Petersburg".

#Make a list of cities to subset on
cities = ["Moscow", "Saint Petersburg"]


- Use [] _subsetting to filter temperatures for rows where the city_ column takes a value in the cities list.

#Subset temperatures using square brackets
print(temperatures[temperatures["city"].isin(cities)])

<script.py> output:

                date              city country  avg_temp_c
    10725 2000-01-01            Moscow  Russia      -7.313
    10726 2000-02-01            Moscow  Russia      -3.551
    10727 2000-03-01            Moscow  Russia      -1.661
    10728 2000-04-01            Moscow  Russia      10.096
    10729 2000-05-01            Moscow  Russia      10.357
    ...          ...               ...     ...         ...
    13360 2013-05-01  Saint Petersburg  Russia      12.355
    13361 2013-06-01  Saint Petersburg  Russia      17.185
    13362 2013-07-01  Saint Petersburg  Russia      17.234
    13363 2013-08-01  Saint Petersburg  Russia      17.153
    13364 2013-09-01  Saint Petersburg  Russia         NaN
    
    [330 rows x 4 columns]

- Use .loc[] subsetting to filter temperatures_ind for rows where the city is in the cities list.

#Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])

<script.py> output:

                           date country  avg_temp_c
    city                                           
    Moscow           2000-01-01  Russia      -7.313
    Moscow           2000-02-01  Russia      -3.551
    Moscow           2000-03-01  Russia      -1.661
    Moscow           2000-04-01  Russia      10.096
    Moscow           2000-05-01  Russia      10.357
    ...                     ...     ...         ...
    Saint Petersburg 2013-05-01  Russia      12.355
    Saint Petersburg 2013-06-01  Russia      17.185
    Saint Petersburg 2013-07-01  Russia      17.234
    Saint Petersburg 2013-08-01  Russia      17.153
    Saint Petersburg 2013-09-01  Russia         NaN
    
    [330 rows x 3 columns]

.loc[] is used by all the best folk! Setting an index allows more concise code for subsetting rows via .loc[].

# _Setting multi-level indexes_

**Exercise**

_Setting multi-level indexes_

Indexes can also be made out of multiple columns, forming a multi-level index (sometimes called a hierarchical index). There is a trade-off to using these.

The benefit is that multi-level indexes make it more natural to reason about nested categorical variables. For example, in a clinical trial, you might have control and treatment groups. Then each test subject belongs to one or another group, and we can say that a test subject is nested inside the treatment group. Similarly, in the temperature dataset, the city is located in the country, so we can say a city is nested inside the country.

The main downside is that the code for manipulating indexes is different from the code for manipulating columns, so you have to learn two syntaxes and keep track of how your data is represented.

pandas is loaded as pd. temperatures is available.

**Instructions**

- Set the index of temperatures to the "country" and "city" columns, and assign this to temperatures_ind.

#Index temperatures by country & city

temperatures_ind = temperatures.set_index(["country", "city"])

- Specify two country/city pairs to keep: "Brazil"/"Rio De Janeiro" and "Pakistan"/"Lahore", assigning to rows_to_keep.

#List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore
rows_to_keep = [("Brazil", "Rio De Janeiro"), ("Pakistan", "Lahore")]

- Print and subset temperatures_ind for rows_to_keep using .loc[].

#Subset for rows to keep
print(temperatures_ind.loc[rows_to_keep])

<script.py> output:

                                  date  avg_temp_c
    country  city                                 
    Brazil   Rio De Janeiro 2000-01-01      25.974
             Rio De Janeiro 2000-02-01      26.699
             Rio De Janeiro 2000-03-01      26.270
             Rio De Janeiro 2000-04-01      25.750
             Rio De Janeiro 2000-05-01      24.356
    ...                            ...         ...
    Pakistan Lahore         2013-05-01      33.457
             Lahore         2013-06-01      34.456
             Lahore         2013-07-01      33.279
             Lahore         2013-08-01      31.511
             Lahore         2013-09-01         NaN
    
    [330 rows x 2 columns]

Magnificent multi-level indexing! 
Multi-level indexes can make it easy to comprehend your dataset when one category is nested inside another category.

# _Sorting by index values_

**Exercise**

_Sorting by index values_

Previously, you changed the order of the rows in a DataFrame by calling .sort_values(). It's also useful to be able to sort by elements in the index. For this, you need to use .sort_index().

pandas is loaded as pd. temperatures_ind has a multi-level index of country and city, and is available.

**Instructions**

- Sort temperatures_ind by the index values.
- Sort temperatures_ind by the index values at the "city" level.
- Sort temperatures_ind by ascending country then descending city.

#Sort temperatures_ind by index values

print(temperatures_ind.sort_index())

<script.py> output:

                             date  avg_temp_c
    country     city                         
    Afghanistan Kabul  2000-01-01       3.326
                Kabul  2000-02-01       3.454
                Kabul  2000-03-01       9.612
                Kabul  2000-04-01      17.925
                Kabul  2000-05-01      24.658
    ...                       ...         ...
    Zimbabwe    Harare 2013-05-01      18.298
                Harare 2013-06-01      17.020
                Harare 2013-07-01      16.299
                Harare 2013-08-01      19.232
                Harare 2013-09-01         NaN
    
    [16500 rows x 2 columns]

#Sort temperatures_ind by index values at the city level

print(temperatures_ind.sort_index(level="city"))

<script.py> output:

                              date  avg_temp_c
    country       city                          
    Côte D'Ivoire Abidjan 2000-01-01      27.293
                  Abidjan 2000-02-01      27.685
                  Abidjan 2000-03-01      29.061
                  Abidjan 2000-04-01      28.162
                  Abidjan 2000-05-01      27.547
    ...                          ...         ...
    China         Xian    2013-05-01      18.979
                  Xian    2013-06-01      23.522
                  Xian    2013-07-01      25.251
                  Xian    2013-08-01      24.528
                  Xian    2013-09-01         NaN
    
    [16500 rows x 2 columns]

#Sort temperatures_ind by country then descending city

print(temperatures_ind.sort_index(level=["country", "city"], ascending=[True, False]))

<script.py> output:

                             date  avg_temp_c
    country     city                         
    Afghanistan Kabul  2000-01-01       3.326
                Kabul  2000-02-01       3.454
                Kabul  2000-03-01       9.612
                Kabul  2000-04-01      17.925
                Kabul  2000-05-01      24.658
    ...                       ...         ...
    Zimbabwe    Harare 2013-05-01      18.298
                Harare 2013-06-01      17.020
                Harare 2013-07-01      16.299
                Harare 2013-08-01      19.232
                Harare 2013-09-01         NaN
    
    [16500 rows x 2 columns]

Sorted! 
_Sorting index values_ is similar to _sorting values in columns_, except that you call .sort_index() instead of .sort_values().

# Slicing and subsetting with .loc and .iloc

**Exercise**

_Slicing index values_

Slicing lets you select consecutive elements of an object using first:last syntax. DataFrames can be sliced by index values or by row/column number; we'll start with the first case. This involves slicing inside the .loc[] method.

Compared to slicing lists, there are a few things to remember.

You can only slice an index if the index is sorted (using .sort_index()).
To slice at the outer level, first and last can be strings.
To slice at inner levels, first and last should be tuples.
If you pass a single slice to .loc[], it will slice the rows.
pandas is loaded as pd. temperatures_ind has country and city in the index, and is available.

_Instructions_

- Sort the index of temperatures_ind.

#Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()

- Use slicing with .loc[] to get these subsets:

    - from Pakistan to Russia.
  
#_Subset rows_ from Pakistan to Russia

print(temperatures_srt.loc["Pakistan" : "Russia"])

 <script.py> output:
 
                                    date  avg_temp_c
    country  city                                   
    Pakistan Faisalabad       2000-01-01      12.792
             Faisalabad       2000-02-01      14.339
             Faisalabad       2000-03-01      20.309
             Faisalabad       2000-04-01      29.072
             Faisalabad       2000-05-01      34.845
    ...                              ...         ...
    Russia   Saint Petersburg 2013-05-01      12.355
             Saint Petersburg 2013-06-01      17.185
             Saint Petersburg 2013-07-01      17.234
             Saint Petersburg 2013-08-01      17.153
             Saint Petersburg 2013-09-01         NaN
    
    - from Lahore to Moscow. _(This will return nonsense.)_
    
#Try to _subset rows_ from Lahore to Moscow

print(temperatures_srt.loc["Lahore" : "Moscow"])

<script.py> output:

                             date  avg_temp_c
    country city                             
    Mexico  Mexico     2000-01-01      12.694
            Mexico     2000-02-01      14.677
            Mexico     2000-03-01      17.376
            Mexico     2000-04-01      18.294
            Mexico     2000-05-01      18.562
    ...                       ...         ...
    Morocco Casablanca 2013-05-01      19.217
            Casablanca 2013-06-01      23.649
            Casablanca 2013-07-01      27.488
            Casablanca 2013-08-01      27.952
            Casablanca 2013-09-01         NaN
    
    [330 rows x 2 columns]

    
    - from Pakistan, Lahore to Russia, Moscow.
    
#_Subset rows_ from Pakistan, Lahore _to_ Russia, Moscow

print(temperatures_srt.loc[("Pakistan", "Lahore"):("Russia","Moscow")])

<script.py> output:

                        date  avg_temp_c
    country  city                         
    Pakistan Lahore 2000-01-01      12.792
             Lahore 2000-02-01      14.339
             Lahore 2000-03-01      20.309
             Lahore 2000-04-01      29.072
             Lahore 2000-05-01      34.845
    ...                    ...         ...
    Russia   Moscow 2013-05-01      16.152
             Moscow 2013-06-01      18.718
             Moscow 2013-07-01      18.136
             Moscow 2013-08-01      17.485
             Moscow 2013-09-01         NaN
    
    [660 rows x 2 columns]

That's a nice slice! 
Combining slicing with .loc[] provides a concise syntax for subsetting.

# _Slicing in both directions_

**Exercise of Subset Rows and Subset Columns**

_Slicing in both directions_

You've seen slicing DataFrames by rows and by columns, but since DataFrames are two-dimensional objects, it is often natural to slice both dimensions at once. That is, by passing two arguments to .loc[], you can subset by rows and columns in one go.

pandas is loaded as pd. temperatures_srt is indexed by country and city, has a sorted index, and is available.

**Instructions**

- Use .loc[] _slicing to subset rows_ from India, Hyderabad to Iraq, Baghdad.

#_Subset rows_ from India, Hyderabad to Iraq, Baghdad

print(temperatures_srt.loc[("India", "Hyderabad") : ("Iraq", "Baghdad")])

<script.py> output:

                            date  avg_temp_c
    country city                            
    India   Hyderabad 2000-01-01      23.779
            Hyderabad 2000-02-01      25.826
            Hyderabad 2000-03-01      28.821
            Hyderabad 2000-04-01      32.698
            Hyderabad 2000-05-01      32.438
    ...                      ...         ...
    Iraq    Baghdad   2013-05-01      28.673
            Baghdad   2013-06-01      33.803
            Baghdad   2013-07-01      36.392
            Baghdad   2013-08-01      35.463
            Baghdad   2013-09-01         NaN
    
    [2145 rows x 2 columns]

- Use .loc[] _slicing to subset columns_ from date to avg_temp_c.

#_Subset columns_ from date to avg_temp_c

print(temperatures_srt.loc[:, "date":"avg_temp_c"])

<script.py> output:

                             date  avg_temp_c
    country     city                         
    Afghanistan Kabul  2000-01-01       3.326
                Kabul  2000-02-01       3.454
                Kabul  2000-03-01       9.612
                Kabul  2000-04-01      17.925
                Kabul  2000-05-01      24.658
    ...                       ...         ...
    Zimbabwe    Harare 2013-05-01      18.298
                Harare 2013-06-01      17.020
                Harare 2013-07-01      16.299
                Harare 2013-08-01      19.232
                Harare 2013-09-01         NaN
    
    [16500 rows x 2 columns]

- _Slice in both directions_ at once from Hyderabad to Baghdad, and date to avg_temp_c.

#_Subset in both directions_ at once

print(temperatures_srt.loc[("India" ,"Hyderabad"):("Iraq", "Baghdad"), "date" : "avg_temp_c"])

<script.py> output:

                           date  avg_temp_c
    country city                            
    India   Hyderabad 2000-01-01      23.779
            Hyderabad 2000-02-01      25.826
            Hyderabad 2000-03-01      28.821
            Hyderabad 2000-04-01      32.698
            Hyderabad 2000-05-01      32.438
    ...                      ...         ...
    Iraq    Baghdad   2013-05-01      28.673
            Baghdad   2013-06-01      33.803
            Baghdad   2013-07-01      36.392
            Baghdad   2013-08-01      35.463
            Baghdad   2013-09-01         NaN
    
    [2145 rows x 2 columns]


Brilliant bidirectional slicing! 
Slicing with (.loc[]) lets you take subsets in both directions at once.

# _Slicing time series_

**Exercise**

_Slicing time series_

Slicing is particularly useful for time series since it's a common thing to want to filter for data within a date range. Add the date column to the index, then use .loc[] to perform the subsetting. The important thing to remember is to keep your dates in ISO 8601 format, that is, "yyyy-mm-dd" for year-month-day, "yyyy-mm" for year-month, and "yyyy" for year.

Recall from Chapter 1 that you can combine multiple Boolean conditions using logical operators, such as &. To do so in one line of code, you'll need to add parentheses () around each condition.

pandas is loaded as pd and temperatures, with no index, is available.

**Instructions**

- Use Boolean conditions, not .isin() or .loc[], and the full date "yyyy-mm-dd", to subset temperatures for rows in 2010 and 2011 and print the results.

#Use _Boolean conditions to subset_ temperatures for rows in 2010 and 2011

temperatures_bool = temperatures[(temperatures["date"] >= "2010-01-01") & (temperatures["date"] <= "2011-12-31")]

print(temperatures_bool)

<script.py> output:

                date     city        country  avg_temp_c
    120   2010-01-01  Abidjan  Côte D'Ivoire      28.270
    121   2010-02-01  Abidjan  Côte D'Ivoire      29.262
    122   2010-03-01  Abidjan  Côte D'Ivoire      29.596
    123   2010-04-01  Abidjan  Côte D'Ivoire      29.068
    124   2010-05-01  Abidjan  Côte D'Ivoire      28.258
    ...          ...      ...            ...         ...
    16474 2011-08-01     Xian          China      23.069
    16475 2011-09-01     Xian          China      16.775
    16476 2011-10-01     Xian          China      12.587
    16477 2011-11-01     Xian          China       7.543
    16478 2011-12-01     Xian          China      -0.490
    
    [2400 rows x 4 columns]


- Set the index of temperatures to the date column and sort it.

#_Set_ date as _the index_ and _sort the index_

temperatures_ind = temperatures.set_index("date").sort_index()


- Use .loc[] _to subset temperatures_ind_ for _rows_ in 2010 and 2011.

#Use .loc[] to subset temperatures_ind for rows in 2010 and 2011

print(temperatures_ind.loc["2010":"2011"])

<script.py> output:

                    city    country  avg_temp_c
    date                                         
    2010-01-01  Faisalabad   Pakistan      11.810
    2010-01-01   Melbourne  Australia      20.016
    2010-01-01   Chongqing      China       7.921
    2010-01-01   São Paulo     Brazil      23.738
    2010-01-01   Guangzhou      China      14.136
    ...                ...        ...         ...
    2011-12-01      Nagoya      Japan       6.476
    2011-12-01   Hyderabad      India      23.613
    2011-12-01        Cali   Colombia      21.559
    2011-12-01        Lima       Peru      18.293
    2011-12-01     Bangkok   Thailand      25.021
    
    [2400 rows x 3 columns]

- Use .loc[] _to subset temperatures_ind_ for _rows_ from Aug 2010 to Feb 2011.

#Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011

print(temperatures_ind.loc["2010-08":"2011-02"])

                    city        country  avg_temp_c
    date                                           
    2010-08-01  Calcutta          India      30.226
    2010-08-01      Pune          India      24.941
    2010-08-01     Izmir         Turkey      28.352
    2010-08-01   Tianjin          China      25.543
    2010-08-01    Manila    Philippines      27.101
    ...              ...            ...         ...
    2011-02-01     Kabul    Afghanistan       3.914
    2011-02-01   Chicago  United States       0.276
    2011-02-01    Aleppo          Syria       8.246
    2011-02-01     Delhi          India      18.136
    2011-02-01   Rangoon          Burma      26.631
    
    [700 rows x 3 columns]

Delightful data range slicing!
Using .loc[] in conjunction with a date index provides an easy way to subset for rows before or after some date.

# _Subsetting by row/column number_

**Exercise**

_Subsetting by row/column number_

The most common ways to subset rows are the ways we've previously discussed: using a Boolean condition or by index labels. However, it is also occasionally useful to pass row numbers.

This is done using .iloc[], and like .loc[], it can take two arguments to let you subset by rows and columns.

pandas is loaded as pd. temperatures (without an index) is available.

**Instructions**

Use .iloc[] on temperatures to take subsets.

- Get the 23rd row, 2nd column (index positions 22 and 1).

#Get 23rd row, 2nd column (index 22, 1

print(temperatures.iloc[22:24, 1:3]).  # Aqui necesitaba the 23rd row, entonces he colocado un numero antes y un numero despues. Lo mismo para la 2nd column. Tener en cuenta que la fila(row) 24th no sale.

<script.py> output:

           city        country
    22  Abidjan  Côte D'Ivoire
    23  Abidjan  Côte D'Ivoire

- Get the first 5 rows (index positions 0 to 5).

#Use slicing to get the first 5 rows

print(temperatures.iloc[:5]) # Tener presente que la numeracion arranca en 0 y va hasta 4

<script.py> output:

          date     city        country  avg_temp_c
    0 2000-01-01  Abidjan  Côte D'Ivoire      27.293
    1 2000-02-01  Abidjan  Côte D'Ivoire      27.685
    2 2000-03-01  Abidjan  Côte D'Ivoire      29.061
    3 2000-04-01  Abidjan  Côte D'Ivoire      28.162
    4 2000-05-01  Abidjan  Côte D'Ivoire      27.547


- _Get all rows,_ columns 3 and 4 (index positions 2 to 4).

#_Use slicing_ to get columns 3 to 

print(temperatures.iloc[:,2:4]) # Tener presente y memorizar que me estan solicitando las columnas 3 y 4, yo coloque dentro del corchete entre 2 y 4, utilizando el metodo de slicing.

<script.py> output:

               country  avg_temp_c
    0      Côte D'Ivoire      27.293
    1      Côte D'Ivoire      27.685
    2      Côte D'Ivoire      29.061
    3      Côte D'Ivoire      28.162
    4      Côte D'Ivoire      27.547
    ...              ...         ...
    16495          China      18.979
    16496          China      23.522
    16497          China      25.251
    16498          China      24.528
    16499          China         NaN
    
    [16500 rows x 2 columns]

- Get the first 5 rows, columns 3 and 4.

#Use slicing in both directions at once

print(temperatures.iloc[:5, 2:4])

#print(temperatures.iloc[(:,5):(3:4])

<script.py> output:

             country  avg_temp_c
    0  Côte D'Ivoire      27.293
    1  Côte D'Ivoire      27.685
    2  Côte D'Ivoire      29.061
    3  Côte D'Ivoire      28.162
    4  Côte D'Ivoire      27.547

Insightful use of .iloc[]! Use .iloc[] to specify a subset using the row or column numbers.

# Working with pivot tables

## _Pivot temperature by city and year_

**Exercise**

_Pivot temperature by city and year_

It's interesting to see how temperatures for each city change over time—looking at every month results in a big table, which can be tricky to reason about. Instead, let's look at how temperatures change by year.

You can access the components of a date (year, month and day) using code of the form dataframe["column"].dt.component. For example, the month component is dataframe["column"].dt.month, and the year component is dataframe["column"].dt.year.

Once you have the year column, you can create a pivot table with the data aggregated by city and year, which you'll explore in the coming exercises.

pandas is loaded as pd. temperatures is available.

**Instructions**

- Add a year column to temperatures, from the year component of the date column.

#Add a year column to temperatures

temperatures["year"] = temperatures["date"].dt.year

- Make a pivot table of the avg_temp_c column, with country and city as rows, and year as columns. Assign to temp_by_country_city_vs_year, and look at the result.


#Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table(values="avg_temp_c", index=["country", "city"],columns="year")

#See the result
print(temp_by_country_city_vs_year)

<script.py> output:

    year                              2000    2001    2002    2003    2004  ...    2009    2010    2011    2012    2013
    country       city                                                      ...                                        
    Afghanistan   Kabul             15.823  15.848  15.715  15.133  16.128  ...  15.093  15.676  15.812  14.510  16.206
    Angola        Luanda            24.410  24.427  24.791  24.867  24.216  ...  24.325  24.440  24.151  24.240  24.554
    Australia     Melbourne         14.320  14.180  14.076  13.986  13.742  ...  14.647  14.232  14.191  14.269  14.742
                  Sydney            17.567  17.854  17.734  17.592  17.870  ...  18.176  17.999  17.713  17.474  18.090
    Bangladesh    Dhaka             25.905  25.931  26.095  25.927  26.136  ...  26.536  26.648  25.803  26.284  26.587
    ...                                ...     ...     ...     ...     ...  ...     ...     ...     ...     ...     ...
    United States Chicago           11.090  11.703  11.532  10.482  10.943  ...  10.298  11.816  11.214  12.821  11.587
                  Los Angeles       16.643  16.466  16.430  16.945  16.553  ...  16.677  15.887  15.875  17.090  18.121
                  New York           9.969  10.931  11.252   9.836  10.389  ...  10.142  11.358  11.272  11.971  12.164
    Vietnam       Ho Chi Minh City  27.589  27.832  28.065  27.828  27.687  ...  27.853  28.282  27.675  28.249  28.455
    Zimbabwe      Harare            20.284  20.861  21.079  20.889  20.308  ...  20.524  21.166  20.782  20.523  19.756
    
    [100 rows x 14 columns]

Powerful pivoting! 

Now you have the pivot table, let's manipulate it.

# Subsetting pivot tables

**Exercise**

_Subsetting pivot tables_

A pivot table is just a DataFrame with sorted indexes, so the techniques you have learned already can be used to subset them. In particular, the .loc[] + slicing combination is often helpful.

pandas is loaded as pd. temp_by_country_city_vs_year is available.

**Instructions**

Use .loc[] on temp_by_country_city_vs_year to take subsets.

- From Egypt to India.

#Subset for Egypt to India
temp_by_country_city_vs_year.loc["Egypt":"India"]

- From Egypt, Cairo to India, Delhi.

#Subset for Egypt, Cairo to India, Delhi
temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India","Delhi")]

- From Egypt, Cairo to India, Delhi, and 2005 to 2010.

#Subset for Egypt, Cairo to India, Delhi, and 2005 to 2010
temp_by_country_city_vs_year.loc[("Egypt","Cairo"): ("India","Delhi"),"2005":"2010"]
                                    # Index or rows                     # Columnas
                         # temp_by_country_city_vs_year (es la informacion dentro de la tabla)  

<script.py> output:

year                    2005    2006    2007    2008    2009    2010
country  city                                                       
Egypt    Cairo        22.006  22.050  22.361  22.644  22.625  23.718
         Gizeh        22.006  22.050  22.361  22.644  22.625  23.718
Ethiopia Addis Abeba  18.313  18.427  18.143  18.165  18.765  18.298
France   Paris        11.553  11.788  11.751  11.278  11.464  10.410
Germany  Berlin        9.919  10.545  10.883  10.658  10.062   8.607
India    Ahmadabad    26.828  27.283  27.511  27.049  28.096  28.018
         Bangalore    25.477  25.418  25.464  25.353  25.726  25.705
         Bombay       27.036  27.382  27.635  27.178  27.845  27.765
         Calcutta     26.729  26.986  26.585  26.522  27.153  27.289
         Delhi        25.716  26.366  26.146  25.675  26.554  26.520
         
Super pivot table subsetting! 
Slicing is especially helpful for subsetting pivot tables.

# Calculating on a pivot table

**Exercise**

_Calculating on a pivot table_

Pivot tables are filled with summary statistics, but they are only a first step to finding something insightful. Often you'll need to perform further calculations on them. A common thing to do is to find the rows or columns where the highest or lowest value occurs.

Recall from Chapter 1 that you can easily subset a Series or DataFrame to find rows of interest using a logical condition inside of square brackets. For example: series[series > value].

pandas is loaded as pd and the DataFrame temp_by_country_city_vs_year is available.

**Instructions**

- Calculate _the mean temperature for each year_, assigning to mean_temp_by_year.

#Get the worldwide mean temp by year
mean_temp_by_year = temp_by_country_city_vs_year.mean()  # Directo escribo .mean( )


- Filter _mean_temp_by_year for the year _that _had the highest mean temperature_.

#_Filter for the year_ that _had the highest mean temp_
print(mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()])
#print(mean_temp_by_year.idxmax())

<script.py> output:

    year
    2013    20.312
    dtype: float64
    country  city  
    China    Harbin    4.877
    dtype: float64

- Calculate _the mean temperature for each city (across columns)_, assigning to mean_temp_by_city.

#Get the mean temp by city
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns")  # un calculo para todas las columnas, es general

#mean_temp_by_city = temp_by_country_city_vs_year.loc[value="temperature", index="city", columns="year"]

- Filter mean_temp_by_city for the city that had the lowest mean temperature.

#Filter for the city that had the lowest mean temp
print(mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()])

#print(mean_temp_by_city.sort_values(ascending=True))
#print(mean_temp_by_city["city", ascending = True])

<script.py> output:

    year
    2013    20.312
    dtype: float64
    country  city  
    China    Harbin    4.877
    dtype: float64
    
Classy calculating! 
With an average temperature just above freezing, Harbin is famous for its ice sculpture festival.